{% extends 'base/main.html' %}
{% load static %}

{% block title %} choisir le client pour la vente {% endblock %}

{% block topbar %}
    {% include 'base/topbar.html'%}
{% endblock %}
{% block left_sidebar %}
    {% include 'base/left_sidebar.html'%}
{% endblock %}
{% block right_sidebar %}
    <!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-breadcrumb bg-white">
    <div class="row align-items-center">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Choisir client </h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <div class="d-md-flex">
                <ol class="breadcrumb ms-auto">
                    <li><a href="{% url 'accueil' %}" class="fw-normal">Tableau de bord</a></li>
                </ol>
                <a href="#" class="btn btn-danger  d-none d-md-block pull-right ms-3 hidden-xs hidden-sm waves-effect waves-light text-white">

                </a>
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
{% endblock %}
{% block container %}
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Three charts -->
    <!-- ============================================================== -->
    <div class="row justify-content-center">
        <div class="row">
            <div class="col-lg-12 col-xlg-12 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form method="post" class="form-horizontal form-material">
                            {% csrf_token %}
                            <div class="col-md-12 p-0" style="border-bottom: 3px black solid;">
                                <h2> CHOISIR LE CLIENT</h2>
                            </div>
                            <div class="form-group mb-4" style="margin-top: 10px;">
                                <div class="row">
                                    <div class="col-lg-8" >
                                        <div style="margin-top:10px">
                                            <div class="col-md-12 p-0" style="border-bottom: 1px #732BF5 solid;" >
                                                <select name="nom_client" class="form-select shadow-none p-0 border-0 form-control-line" >
                                                    {% for client in clients %}
                                                        <option value="{{client.id}}"> {{client.nom}} {{client.prenom}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4" >
                                        <div style="margin-top:10px">
                                            <button type="submit" class="btn btn-primary" name="charger_client"> Charger les données client</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->

{% endblock%}