{% extends 'base/main.html' %}
{% load static %}

{% block title %} Info client {% endblock %}

{% block topbar %}
    {% include 'base/topbar.html'%}
{% endblock %}
{% block left_sidebar %}
    {% include 'base/left_sidebar.html'%}
{% endblock %}
{% block right_sidebar %}
    <!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-breadcrumb bg-white">
    <div class="row align-items-center">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Info client & vente </h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <div class="d-md-flex">
                <ol class="breadcrumb ms-auto">
                    <li><a href="{% url 'accueil' %}" class="fw-normal">Tableau de bord</a></li>
                </ol>
                <a href="#" class="btn btn-danger  d-none d-md-block pull-right ms-3 hidden-xs hidden-sm waves-effect waves-light text-white">

                </a>
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
{% endblock %}
{% block container %}
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Three charts -->
    <!-- ============================================================== -->
    <div class="row justify-content-center">
        <div class="row">
            <div class="col-lg-12 col-xlg-12 col-md-12">
                <div class="card">
                    <div class="card-body">
                        {% csrf_token %}
                        <div class="col-md-12 p-0" style="border-bottom: 3px black solid;">
                            <h2> INFORMATION SUR LE CLIENT ET VENTE</h2>
                        </div>
                        <form method="post" class="form-horizontal form-material">
                            {% csrf_token %}
                            <div class="form-group mb-4" style="margin-top: 10px;">
                                <div class="row">
                                    <div class="col-lg-4" style="border-right: 1px solid blue" >
                                        {% for cl in info_charger %}
                                        <div style="margin-top:10px">
                                            Nom & Prénom : <input type="text" readonly class="form-control p-0 border-0" value="{{cl.nom}} {{cl.prenom}}">
                                        </div>
                                        <div style="margin-top:8px">
                                            Adresse : <input type="text" readonly class="form-control p-0 border-0" value="{{cl.residence}}">
                                        </div>
                                        <div style="margin-top:8px">
                                            Contact : <input type="text" readonly class="form-control p-0 border-0" value="{{cl.contact}}" >
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div class="col-lg-8" >
                                        {% for service in services %}
                                        <div class="row">
                                            <div class="col-md-2" style="margin-top: 25px">
                                                {% for clt in info_charger %}
                                                    <input type="hidden" value="{{clt.id}}"  name="clt">
                                                {% endfor %}
                                                <input type="checkbox" >
                                                 {{service}}
                                            </div>
                                            <div class="col-md-4" style="margin-top: 10px">
                                                <input type="hidden" value="{{service.montant}}"  name="montant">
                                                <input style="height:50px; border-radius:10px 10px;" type="text" onkeyup="this.value=this.value.toUpperCase()" placeholder="Destination" class ="form-control" name="destination">
                                            </div>
                                            <div class="col-md-3" style="margin-top: 10px" >
                                                <input type="hidden" value="{{service.nombre_jours}}"  name="nombre_jours">
                                                <input style="height:50px; border-radius:10px 10px;" type="number"  placeholder="Quantité" class ="form-control" name="quantite">
                                            </div>
                                            <div class="col-md-3" style="margin-top: 10px">
                                                <input type="hidden" value="{{service.id}}"  name="id_service">
                                                <input style="height:50px; border-radius:10px 10px;" type="date" class ="form-control" name="date_debut">
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <button style="margin-top: 10px" name="btn_facturer" type="submit" class="btn btn-lg btn-success"> valider </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<script>
  // Récupération de la date d'aujourd'hui
  var today = new Date().toISOString().split('T')[0];

  // Obtention des éléments input de date avec la classe "date-field"
  var dateFields = document.querySelectorAll('.form-control');

  // Boucle sur la liste pour définir la valeur minimale
  dateFields.forEach(function(field) {
    field.setAttribute("min", today);
  });
</script>

{% endblock%}