{% load static %}

<div class="modal fade" id="suppModal}" tabindex="-1" role="dialog" aria-labelledby="verticalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="verticalCenterTitle"> Voulez-vous supprimer ce client <span class="">({{ client.nom_prenom }})</span> ??? </h5>
            </div>
            <div class="modal-footer">
                <form method="post">
                    {%csrf_token%}
                    <input type="text" class="form-control" hidden value="{{ client.id }}" name="id_pour_supprimer" >
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Annuler</button>
                    <button type="submit" name="suppboutton" class="btn btn-danger">Supprimer</button>
                </form>
            </div>
        </div>
    </div>
</div>